
section {
  margin-bottom: 1rem;
}
section.welcome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  align-items: center;
}
section.welcome figure img {
  width: 100%;
  height: auto;
}
aside.aboutIntro h5 {
  font-weight: 400;
  color: var(--text);
}
aside.aboutIntro h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--green);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ======================= */
.serviceCardPerent {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.serviceCard {
  width: 300px;
  flex-grow: 1;
  padding: 15px 25px;
  border: var(--border);
  display: grid;
  place-items: center;
}
aside.aboutIntro p,
.serviceCard p {
  color: var(--text);
  font-size: 0.6rem;
  margin-bottom: 15px;
}
.serviceCard h4 {
  margin: 15px;
}
.serviceCard p {
  text-align: center;
  font-size: 0.7rem;
}





/* =============================== */
.figDesc {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.figDesc span {
color: var(--text);
}
p.productName {
  font-weight:600;
  color: var(--green);
}
.figDesc p i {
color: #ffc107;
}