

.blogWrapper  {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(265px,1fr));
gap: 18px;
}
.blogWrapper figure.blogCard {
  border: var(--border);
  background-color: var(--green-light);
  box-shadow: 0 1px 8px var(--green);
}
.figImg {
  height: 220px;
  overflow: hidden;
}
.blogWrapper figure.blogCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogResum {
    width: 100%;
    padding: 12px 15px;
}
.blogResum h4 {
  margin-bottom: 12px;
  font-size: 0.9rem;
}
.blogResum p {
    color: var(--text);
    font-size: 0.6rem;
    margin-bottom: 15px;
    font-size: 0.7rem;
  }
 button {
    font-size: 0.7rem;
 }
  .blogWrapper figure .dateWriter {
    border-top: var(--border);
    padding-top: 10px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateWriter .date i,
.dateWriter .writer i {
    font-size: 0.7rem;
  color: var(--green);
}
.dateWriter .date span,
.dateWriter .writer span {
    font-size: 0.7rem;
      color: var(--text);
}
.share {
  width: 70px;
  height: 90%;
  background-color: var(--green);
  position: absolute;
  top: 0;
  left: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure .share a {
  text-decoration: none;
  border: 1px solid var(--white);
  width: 50px;
  height: 50px;
  margin: 4px;
  color: var(--white);
  display: grid;
  place-items: center;
}
.blogWrapper figure:hover img {
  transform: scale(1.1);
}
.blogWrapper figure:hover .share {
  left: 0;
}
figure .share a:hover {
  color: var(--green);
background-color: var(--white);
}

