
.contactMainWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px,1fr)); /* set min-h.=355px to change display at screen=769px*/
    gap: 20px;
    
}
form.contactForm {
    display: flex;
    flex-direction: column;

}
form.contactForm h3 {
    color: var(--green);
    font-size: 1.4rem;
    font-weight: 500;
}
form.contactForm p {
    color: var(--green);
    font-size: 0.7rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}
form.contactForm div label {
    display: block;
    font-size: 0.65rem;
    color: var(--text);
} 
.contactForm abbr {
    text-decoration: none;
}
form.contactForm div input,
form.contactForm div textarea {
    width: 100%;
    border: none;
    border-bottom: var(--border);
    padding: 5px;
    margin-bottom: 10px;
    /* background-color: var(--green-light); */
    outline: none;
}
form.contactForm div textarea {
height: 100px;
resize: vertical;
}
form.contactForm button {
    width: max-content;
}
/* -------Map section ----- */
.mapLocation {
    width: 100%;
    height: 515px;
}

@media screen and (max-width: 769px) {
    .mapLocation {
    height: initial;
    aspect-ratio: 16/10;
}
}