
/****! Main section : Slides Using Animation  ****/
main {
  position: relative;/* for positioning the Slides' Controls (p.absolute) */
  margin-top: 50px;
}
.slidesParent {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}
.slideBox {
  position: relative;
  width: 100%;
}
.slideBox .slide {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
  align-items: center;
}
.slidePhoto {
  width: 100%;
  animation: fadeOut 0.8s;
}

.slideDesc h3 {
  color: var(--text);
  font-size: 22px;
  font-weight: 500;
}
h1 {
  color: var(--green);
  font-size: 52px;
  font-weight: 600;
}
.slideDesc p {
  color: var(--text);
  font-size: 18px;
}

/*** Slide Controls  ***/
input#leftCntrl,
input#rightCntrl {
  display: none;
}
.sldLcntrl,
.sldRcntrl {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background-color: var(--white);
  color: var(--green);
  border: var(--border);
  box-shadow: var(--green) 1px 1px 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sldLcntrl {
  left: 3vw;
}
.sldRcntrl {
  right: 3vw;
}
.sldLcntrl:hover,
.sldRcntrl:hover {
  background-color: var(--green);
  color: var(--white);
}

/*******! Offers Section: Using Grid  ******/
.offersCnt {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 20px;
}
.offer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.offer img{
width: 100%;
height: 100%;
object-fit: cover;
}
.offer:hover img{
  transform: scale(1.2);
}
/** ===== **/
.offerDesc {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.offerDesc p {
  color: var(--text);
  font-size: 18px;
}
.total h4 {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  main {
    margin-top: 0;
  }
  .sldLcntrl,
  .sldRcntrl {
    background-color: transparent;
    top: initial; 
    left: initial;
    transform: initial;
    bottom: 18px; /* The same as main bottom padding */
  }
  .sldLcntrl {
    right: 65px;
  }
  .sldRcntrl {
    right: 16px; /* For Good Alignement: The Same as Container Left Margin */
  }
  h1 {
    font-size: clamp(24px, 6vw, 40px);
  }
}


/*! ***** Animations ***** */

@keyframes fadeOut {
  0% { 
    transform: scale(30%);
    opacity: 0; }
}
.slideDesc {
  width: 100%;
  animation: trnaslating .4s .4s linear backwards;
}
@keyframes trnaslating {
  0% {
    transform: translateX(-20%);/** Alternatif2: margin-left: -30px; */ /** Alternatif3( with "position: relative;" in .slideDesc): left: -40px; */
    opacity: 0;/*OR visibility: hidden; */
  }
  
}
