:root {
  --green: #244d4d;
  --green-light: #f6fbf6;
  --text: #779;
  --white: #fff;
  --yellow: yellow;
  --lightgray: #f2f2f2;
  --border: 1px solid var(--green);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: .2s linear;
  -webkit-transition: .2s linear;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--green-light);
}
html {
  scroll-behavior: smooth;
}

/*  Common: to all sections */
.container {
  width: 82vw;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
/*!  Common: Header  */
header,
main,
.offers,
.mapSection {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--white);
}
header {
  background-color: var(--green-light);
  position: sticky;
  top: 0;
  z-index: 88;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--green);
}
header .srchForm {
  border: var(--border);
  border-radius: 24px;
  padding: 10px;
  width: 50vw;
  max-width: 500px;
  height: 48px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input#srchField {
  border: none;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
input#srchField:focus {
  outline: none;
}
.socials i {
  margin-left: 10px;
}
.socials .searchLink {
  display: none;
}
.socials i:hover {
  opacity: .8;}
i,
.logo {
  cursor: pointer;
  text-decoration: none;
  color: var(--green);
}
/** ======= Common: Popup Nav Bar ========  */
.popup {
  height: 100vh;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}
.popup.bgOnMouseover {
  background: url("../images/blog-6.jpg") left center / cover no-repeat;
  transition: all .4s ;
}
#closerId {
  font-size: 50px;
  color: var(--green);
  position: absolute;
  left: 295px;
  top: 0;
}

#rightNav {
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: var(--white);
  display: grid;
  place-items: center;
}
/***** Links Page  */
.navContainer ul li {
  list-style: none;
  padding-bottom: 20px;
  text-align: center;
}
.navContainer ul li a {
  text-decoration: none;
  color: var(--green);
  font-size: 24px;
}
.navContainer ul li a:hover {
  color: var(--text);
}

/* ***** Cart Page  ****/
.cartContainer {
align-self: flex-start;
width: 100%;
padding:0 8%;
margin-top: 80px;
font-size: 20px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total span:first-child,
.itemDesc p{
color: var(--text);
}
.cartContainer button {
  width: 100%;
  line-height: 22px;
  border: none;
  color: var(--white);
  padding: 13px 0;
  margin-top: 30px;
}

/* ***** User Page *** */
.userContainer {
  width: 90%;
  padding: 20px 15px;
  border: var(--border);
}
.userContainer * {
  font-size: 15px;
  color: var(--text);
}
.userContainer form input#email,
.userContainer form input#pass {
  width: 100%;
  height: 44px;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.userContainer form button {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px !important;
  color: var(--white) !important;
}
.userContainer h4 {
  font-size: 20px;
  color: var(--green);
}
.userContainer form a {
  color: var(--green);
  text-decoration: none;
}
h1,
h3,
p {
  line-height: 2;
}
h4 {
  color: var(--green);
  font-size: 1rem;
  font-weight: 600;
}
button,
#subscribe {
  background-color: var(--green);
  color: var(--green-light);
  font-size: 0.95rem;
  padding: 7px 22px;
  margin-top: 12px;
  border: none;
  display: grid;
  place-items: center;
}
button:hover,
#subscribe:hover {
  cursor: pointer;
  opacity: .8;
}

/*******! Common: Map Section  ******/
.mapSection {
  background-color: var(--green-light);
  padding-bottom: 0;
}
.map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mapCol * {
  margin-bottom: 10px;
}
.linksCol  p {
  font-size: 14px;
  cursor: pointer;
}
.linksCol > p:hover i {
margin-right: 20px;
}
.linksCol > p > i {
  color: var(--green);
  margin-right: 6px;
  display: inline;
}
.mapCol {
  flex: 1 1 190px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.mapCol p {
font-size: 0.8rem;
color: var(--text);
}
input#inputEmail {
  width: 100%;
  max-width: 250px;
  height: 40px;
  padding-left: 15px;
  border: var(--border);
  outline: none;
}
footer {
  background-color: var(--green);
  color: var(--green-light);
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
  }

  /*! Common: Title Bar  */
  .titleBar {
    background-color: #244d4d;
    padding: 45px 0;
    margin-top: 84px;
  }  
  .titleBar .container {
    display: flex;
    justify-content: space-between;
  }
  .titleBar h1 {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .titleBar p {
    font-size: 0.9rem;
  }
  .titleBar p a {
    color: var(--white);
    text-decoration: none;
  }
  .titleBar p span {
    color: var(--yellow);
  }
  /*! Common: Shop, Team, Blog Title, */
.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--green);
  height: 70px;
  border-bottom: var(--border);
  margin-bottom: 1rem;
}
.sectionHeading h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--green);
}
.sectionHeading a {
  color: var(--text);
  font-size: 0.8rem;
  text-decoration: none;
}
/*! Media Queries  */
html {
  font-size: 133%;
}
@media screen and (max-width: 991px) {
  .container {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 769px) {
  .titleBar {
    margin-top: 73px; /* Or we can ajust the Header Height:84px Or padding-top+bottom:24.5px */
  }  
  header .srchForm {
    display: none;
    position: absolute; /* Header is position Sticky */
    width: 100%;
    left: 0;
    max-width: none;
    border-radius: 0;
  }
  header .srchFormWide {
    display: flex;
    top: 100%;
    animation: down .3s;
  }
  .socials .searchLink {
    display: initial;
  }
  footer {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 100%;
  }
  .titleBar .container {
    flex-direction: column;
    align-items: center;
  }
  .mapCol {
    width: 190px;
  }
}


/*! ***** Animations ***** */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes down {
  0% {
    top: -48px;
  }
  100% {
    top: 100%;
  }
}

