
section {
  margin-bottom: 1rem;
}
.categorieCardParent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
  gap: 15px;
}
.categorieCard {
  display: grid;
  place-items: center;
  padding: 1rem;
  border: var(--border);
}
.categorieCard:hover {
  background-color: var(--green);
}
.categorieCard:hover figure img {
filter: invert(1);
}
.categorieCard:hover figcaption {
  color: var(--white);
}
.categorieCard figure img{
  width: 3rem;
  margin-bottom: 0.6rem;
}
.categorieCard figcaption{
  font-size: 0.8rem;
  color: var(--green);
  font-weight: 500;
  text-align: center;
}
/** Products Cards  **/
.productCardPerent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 15px;

}
.productCard {
  background-color: var(--lightgray);
}
.productFigure {
  position: relative;
}
.figHover {
  height: 100%;
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
    position: absolute;
    top:-110%;
    z-index: 88;
    transition: all 0.3s;
  }
  .productCard:hover .productFigure .figHover {
    top: 0;
  }
  .productCard:hover .productFigure img {
    transform: scale(1.2);
  }
  .figHover span {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 5px;
    display: grid;
    place-items: center;
  }
  .figHover span a {
    text-decoration: none;
    color: var(--green);
  }
  .productFigure {
height: 12rem;
overflow: hidden;
}
.productFigure img {
width: 100%;
height: 100%;
object-fit: cover;
}
.figDesc {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.figDesc span {
color: var(--text);
}
p.productName {
  font-weight:600;
  color: var(--green);
}
.figDesc p i {
color: #ffc107;
}