

.teamWrapper  {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
gap: 20px;
}
.teamWrapper figure {
  max-height: 650px;
  border: var(--border);
  background-color: var(--green-light);
  box-shadow: 0 1px 8px var(--green);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.figImg {
  height: 90%;
  overflow: hidden;
}
.teamWrapper figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.teamWrapper figure .teamDesc {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}
.teamDesc .fName {
  font-size: 1rem;
  font-weight: 600;
  color: var(--green);
}
.teamDesc .tMission {
  font-size: .8rem;
  color: var(--text);
}
.share {
  width: 70px;
  height: 90%;
  background-color: var(--green);
  position: absolute;
  top: 0;
  left: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure .share a {
  text-decoration: none;
  border: 1px solid var(--white);
  width: 50px;
  height: 50px;
  margin: 4px;
  color: var(--white);
  display: grid;
  place-items: center;
}
.teamWrapper figure:hover img {
  transform: scale(1.1);
}
.teamWrapper figure:hover .share {
  left: 0;
}
figure .share a:hover {
  color: var(--green);
background-color: var(--white);
}

